In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn

%matplotlib inline

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,desc,dti,delinq_2yrs,fico_range_low,...,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,128137.000000,128137.000000,128137.000000,128137.000000,1.281370e+05,0.0,127906.000000,128137.000000,128137.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000,2.0,2.0
mean,NaN,16274.853477,16274.853477,16272.178996,470.899584,8.579579e+04,NaN,21.066334,0.236817,704.960667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8045.000000,65.0,18.0
std,NaN,10281.469095,10281.469095,10280.628944,289.981923,1.031547e+05,NaN,19.723450,0.757796,34.973618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.771645,0.0,0.0
min,NaN,1000.000000,1000.000000,975.000000,30.640000,0.000000e+00,NaN,0.000000,0.000000,660.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7850.000000,65.0,18.0
25%,NaN,8400.000000,8400.000000,8400.000000,254.780000,5.000000e+04,NaN,12.950000,0.000000,680.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7947.500000,65.0,18.0
50%,NaN,14000.000000,14000.000000,14000.000000,396.920000,7.000000e+04,NaN,19.270000,0.000000,700.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8045.000000,65.0,18.0
75%,NaN,22500.000000,22500.000000,22500.000000,634.230000,1.000000e+05,NaN,26.530000,0.000000,725.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8142.500000,65.0,18.0
max,NaN,40000.000000,40000.000000,40000.000000,1671.880000,9.682505e+06,NaN,999.000000,23.000000,845.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8240.000000,65.0,18.0

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,desc,dti,delinq_2yrs,fico_range_low,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,142901.000000,142901.000000,142901.000000,142901.000000,1.429010e+05,0.0,142557.000000,142901.000000,142901.000000,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,15.000000,15.000000,15.000000
mean,NaN,16382.138683,16382.138683,16381.081746,473.361796,8.593736e+04,NaN,20.773625,0.234176,706.889490,...,3.0,81.265000,3.0,15.000000,243.795000,7252.075000,103.845000,7598.347333,56.000667,17.733333
std,NaN,10348.689702,10348.689702,10349.031355,290.433907,1.111411e+05,NaN,20.769334,0.770219,35.345448,...,0.0,79.952564,0.0,2.828427,239.857691,5429.328501,139.010122,6082.686204,10.386049,6.284524
min,NaN,1000.000000,1000.000000,850.000000,30.640000,0.000000e+00,NaN,0.000000,0.000000,660.000000,...,3.0,24.730000,3.0,13.000000,74.190000,3412.960000,5.550000,626.020000,40.000000,1.000000
25%,NaN,8500.000000,8500.000000,8500.000000,260.210000,5.000000e+04,NaN,12.620000,0.000000,680.000000,...,3.0,52.997500,3.0,14.000000,158.992500,5332.517500,54.697500,3472.500000,45.000000,18.000000
50%,NaN,14000.000000,14000.000000,14000.000000,395.480000,7.000000e+04,NaN,18.830000,0.000000,700.000000,...,3.0,81.265000,3.0,15.000000,243.795000,7252.075000,103.845000,5703.000000,65.000000,18.000000
75%,NaN,22625.000000,22625.000000,22625.000000,634.230000,1.000000e+05,NaN,26.090000,0.000000,725.000000,...,3.0,109.532500,3.0,16.000000,328.597500,9171.632500,152.992500,9537.000000,65.000000,21.000000
max,NaN,40000.000000,40000.000000,40000.000000,1671.880000,9.500000e+06,NaN,999.000000,26.000000,845.000000,...,3.0,137.800000,3.0,17.000000,413.400000,11091.190000,202.140000,21905.000000,65.010000,24.000000

In [5]:
df_2019Q4['loan_status'].value_counts()

Current               122626
Fully Paid              3539
In Grace Period         1079
Late (31-120 days)       509
Late (16-30 days)        304
Charged Off               80
Name: loan_status, dtype: int64

In [9]:
df_2019Q3['loan_status'].value_counts()

Current               129855
Fully Paid              8758
In Grace Period         1531
Late (31-120 days)      1520
Charged Off              693
Late (16-30 days)        495
Default                   49
Name: loan_status, dtype: int64

In [10]:
df_2019Q2['loan_status'].value_counts()

Current               111526
Fully Paid             12958
Charged Off             2360
Late (31-120 days)      2058
In Grace Period         1550
Late (16-30 days)        480
Default                   72
Name: loan_status, dtype: int64

In [11]:
df_2019Q1['loan_status'].value_counts()

Current               91148
Fully Paid            16863
Charged Off            3870
Late (31-120 days)     1850
In Grace Period        1406
Late (16-30 days)       362
Default                  74
Name: loan_status, dtype: int64

In [12]:
df_2019Q4.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=150)

In [13]:
df_2019Q3.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=150)

In [14]:
df_2019Q2.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=150)

In [26]:
loan_data['loan_status'].value_counts()

Current               455155
Fully Paid             42118
Charged Off             7003
Late (31-120 days)      5937
In Grace Period         5566
Late (16-30 days)       1641
Default                  195
Name: loan_status, dtype: int64

In [32]:
pd.set_option('display.max_colwidth', -1)

In [35]:
for i in loan_data.columns:
    print(i)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [106]:
# Evaluate percentage of missing values
default_rows = loan_data[loan_data['loan_status'] == 'Default']
percentage_of_na = (loan_data.isna().sum()) / loan_data.shape[0]
percentage_of_na_defaults = default_rows.isna().sum() / default_rows.shape[0]

# Are the majority of the 'mostly missing' values just missing because we they are attributes of defaulted loans?
display(percentage_of_na_defaults[percentage_of_na_defaults > 0.75])
display(percentage_of_na[percentage_of_na > 0.75])

# There doesn't appear to be a large discrepancy in Nan values between loan status, so we will just delete rows where there is over 75% missing values, There should be 41 less columns

member_id                                     1.000000
desc                                          1.000000
mths_since_last_record                        0.851282
annual_inc_joint                              0.835897
dti_joint                                     0.835897
verification_status_joint                     0.856410
mths_since_recent_bc_dlq                      0.753846
revol_bal_joint                               0.835897
sec_app_fico_range_low                        0.835897
sec_app_fico_range_high                       0.835897
sec_app_earliest_cr_line                      0.835897
sec_app_inq_last_6mths                        0.835897
sec_app_mort_acc                              0.835897
sec_app_open_acc                              0.835897
sec_app_revol_util                            0.841026
sec_app_open_act_il                           0.835897
sec_app_num_rev_accts                         0.835897
sec_app_chargeoff_within_12_mths              0.835897
sec_app_collections_12_mths_ex_med            0.835897
sec_app_mths_since_last_major_derog           0.933333
hardship_type                                 0.969231
hardship_reason                               0.969231
hardship_status                               0.969231
deferral_term                                 0.969231
hardship_amount                               0.969231
hardship_start_date                           0.969231
hardship_end_date                             0.969231
payment_plan_start_date                       0.969231
hardship_length                               0.969231
hardship_dpd                                  0.969231
hardship_loan_status                          0.969231
orig_projected_additional_accrued_interest    0.969231
hardship_payoff_balance_amount                0.969231
hardship_last_payment_amount                  0.969231
debt_settlement_flag_date                     0.989744
settlement_status                             0.989744
settlement_date                               0.989744
settlement_amount                             0.989744
settlement_percentage                         0.989744
settlement_term                               0.989744
dtype: float64

41

TypeError: dropna() got an unexpected keyword argument 'thres'

In [113]:
loan_data.dropna(thresh=(loan_data.shape[0] * 0.75), axis = 1).shape

(517623, 107)

In [108]:
loan_data.shape

(0, 150)

In [109]:

loan_data

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 150 columns]

member_id                                     True
desc                                          True
mths_since_last_delinq                        True
mths_since_last_record                        True
mths_since_last_major_derog                   True
annual_inc_joint                              True
dti_joint                                     True
verification_status_joint                     True
mths_since_recent_bc_dlq                      True
mths_since_recent_revol_delinq                True
revol_bal_joint                               True
sec_app_fico_range_low                        True
sec_app_fico_range_high                       True
sec_app_earliest_cr_line                      True
sec_app_inq_last_6mths                        True
sec_app_mort_acc                              True
sec_app_open_acc                              True
sec_app_revol_util                            True
sec_app_open_act_il                           True
sec_app_num_rev_accts                         True
sec_app_chargeoff_within_12_mths              True
sec_app_collections_12_mths_ex_med            True
sec_app_mths_since_last_major_derog           True
hardship_type                                 True
hardship_reason                               True
hardship_status                               True
deferral_term                                 True
hardship_amount                               True
hardship_start_date                           True
hardship_end_date                             True
payment_plan_start_date                       True
hardship_length                               True
hardship_dpd                                  True
hardship_loan_status                          True
orig_projected_additional_accrued_interest    True
hardship_payoff_balance_amount                True
hardship_last_payment_amount                  True
debt_settlement_flag_date                     True
settlement_status                             True
settlement_date                               True
settlement_amount                             True
settlement_percentage                         True
settlement_term                               True
dtype: bool